---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Project" />
  <Breadcrumbs
    items={[{ label: 'Project', href: '/project', icon: 'lucide:code-2' }]}
  />

  <ul class="not-prose grid grid-cols-1 gap-5 sm:grid-cols-2">
    {
      projects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</Layout>
